@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #F3EC34;
	--secondary: #030303;
	--tertiary: #fefefe;
	--text_color: #361717;
}
body {
	font-family: 'Open Sans', sans-serif;
    padding: 0px;
    background-color: var(--secondary);
    color: var(--primary)
}

/* section:    ---backgrounds */
/* backgrounds */
.main_bg {
	background-color: var(--primary);
}

.secondary_bg {
	background-color: var(--secondary);
}

.tertiary_bg {
	background-color: var(--tertiary);
}

/* section:      ---hover backgrounds */
.main_bg_hover {
	transition: all ease-in-out 0.3s;
}

.secondary_bg_hover {
	transition: all ease-in-out 0.3s;
}

.tertiary_bg_hover {
	transition: all ease-in-out 0.3s;
}

/* hover */
.main_bg_hover:hover {
	background-color: var(--primary);
}

.secondary_bg_hover:hover {
	background-color: var(--secondary);
}

.tertiary_bg_hover:hover {
	background-color: var(--tertiary);
}

/* endsection: 	  ---backgrounds */


/* section:      ---hover text */
.main_txt {
	color: var(--text_color)
}

.secondary_txt {
	color: var(--secondary);
}

.tertiary_txt {
	color: var(--tertiary);
}

/* hover */
.main_txt_hover {
	transition: all ease-in-out 0.3s;
}

.secondary_txt_hover {
	transition: all ease-in-out 0.3s;
}

.tertiary_txt_hover {
	transition: all ease-in-out 0.3s;
}

.main_txt_hover:hover {
	color: #fefefe;
}

.secondary_txt_hover:hover {
	color: var(--secondary);
}

.tertiary_txt_hover:hover {
	color: var(--tertiary);
}

/* endsection:      ---hover text */



/* section:      ---hover border */
.main_border {
	border: 1px solid var(--primary)
}

.secondary_border {
	border: 1px solid var(--secondary)
}

.tertiary_border {
	border: 1px solid var(--tertiary)
}

.spinner_border {
	border: 4px solid var(--tertiary)
}

/* hover */
.main_border_hover {
	transition: all ease-in-out 0.3s;
}

.secondary_border_hover {
	transition: all ease-in-out 0.3s;
}

.tertiary_border_hover {
	transition: all ease-in-out 0.3s;
}

.main_border_hover:hover {
	border: 1px solid var(--primary)
}

.secondary_border_hover:hover {
	border: 1px solid var(--secondary)
}

.tertiary_border_hover:hover {
	border: 1px solid var(--tertiary)
}

/* endsection:      ---hover border */



/* section:		---shadow hover */
.main_shadow {
	box-shadow: 0px 4px 4px 4px var(--primary)
}

.secondary_shadow {
	box-shadow: 0px 4px 4px 4px var(--secondary)
}

.tertiary_shadow {
	box-shadow: 0px 4px 4px 4px var(--tertiary)
}

.main_shadow_hover {
	transition: all ease-in-out 0.3s;
}

.secondary_shadow_hover {
	transition: all ease-in-out 0.3s;
}

.tertiary_shadow_hover {
	transition: all ease-in-out 0.3s;
}

.main_shadow_hover:hover {
	box-shadow: 0px 4px 4px 4px var(--primary)
}

.secondary_shadow_hover:hover {
	box-shadow: 0px 4px 4px 4px var(--secondary)
}

.tertiary_shadow_hover:hover {
	box-shadow: 0px 4px 4px 4px var(--tertiary)
}

/* endsection: 		---shadow hover */

.btn {
	text-align: center;
	border: 0.5px solid var(--secondary);
	cursor: pointer;
	border-radius: 8px;
	padding: 4px;
	transition: all 0.5s ease-in-out;
}

.delete_btn {
	background-color: red;
	border: 0.5px white solid;
	color: white;
	font-weight: bold;
	transition: all 0.3s ease-in-out;
}

.delete_btn:hover {
	background-color: white;
	border: 0.5px red solid;
	color: red;
	box-shadow: 0px 2px 2px 2px red !important;
	font-weight: bold;
}

.primary_btn {
	font-weight: bold;
	color: var(--text_color);
	background-color: var(--secondary);
	border: 0.5px solid var(--tertiary)
}

.page {
	width: 100%;
	height: 100%;
}

.flex_col {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.flex_row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.flex_center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


/* section:  	Form */
form{
	padding: 0.5rem;
	width: 90%;
	max-width:500px;
}

.form_div{
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.form_div label{
	width: 40%;	
	text-align: right;
	padding-right: 8px;
	font-weight: bold;
	background: #000;
}
.form_div input{
	width: 60%;
	float: left;
	color:#030303;
	border-radius: 0.25rem;
	padding: 4px;
}
/* endsection:  Form */


/* section:  	HOME */
.hm_tile, .epst_tile{
	z-index: 10;
	position: relative;
	cursor: pointer;
	border: var(--tertiary) 1px solid;
	transition: all ease-in-out 0.3s;
}

.hm_tile:hover, .epst_tile:hover{
	box-shadow: #F3EC34 0px 8px 8px 8px;
}

.hm_tile::after, .epst_tile::after{
	content: "";
	position: absolute;
	top: 0;
	left:0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: #F3EC34;
	opacity: 0.5;
	transition: all ease-in-out 0.3s;
}

.hm_tile:hover::after, .epst_tile:hover::after{
	background-color: var(--secondary);
	opacity:0.7
}


.hm_tile_title, .epst_tile_title{
	z-index: 100;
}

.hm_tile_desc, .epst_tile_desc{
	display: none;
	color: var(--primary);
	font-size: 14px;
	position: absolute;
	left: 1rem;
	z-index: 100;
	bottom:1rem;
}

.hm_tile:hover > .hm_tile_desc, 
.epst_tile:hover > .epst_tile_desc{
	display:block;
	transition: all ease-in-out 0.3s;
}


/* endsection:  HOME */


